<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<div class="container">
    <h1>Sign up form</h1>
    <div class="form-group">
        <form action="/register" method="POST" autocomplete="off">
            <label for="username">Email/Username:</label>
            <input type="text" class="form-control" name="username" required>
            <label for="fisrtname">Firstname</label>
            <input type="text" class="form-control" name="firstname">
            <label for="lastname">Lastname</label>
            <input type="text" class="form-control" name="lastname">
            <label for="role">Role</label>
            <select class="form-control" name="role">
                <option>Admin</option>
                <option>User</option>
            </select>
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" required>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>

    <a href="/">Home!</a>
    <a href="/register">Sign up!</a>
    <a href="/login">Login!</a>
    <a href="/logout">Logout!</a>

</div>